# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [4]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [5]:
url = address
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.keys()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
print("shape of data{}".format(chipo.shape))

shape of data(4622, 5)

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [13]:
z = chipo.groupby('item_name').sum()
z

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [14]:
z.max()

order_id    713926
quantity       761
dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo.groupby("choice_description").sum().max()

order_id    123455
quantity       159
dtype: int64

### Step 12. How many items were orderd in total?

In [16]:
chipo.keys()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
ch_12 = chipo.groupby('item_name').sum()
ch_12

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [18]:
ch_12['total']=ch_12['quantity'].sum()
ch_12

                                       order_id  quantity  total
item_name
6 Pack Soft Drink                         52322        55   4972
Barbacoa Bowl                             53972        66   4972
Barbacoa Burrito                          74718        91   4972
Barbacoa Crispy Tacos                      5613        12   4972
Barbacoa Salad Bowl                        9708        10   4972
Barbacoa Soft Tacos                       18725        25   4972
Bottled Water                            175944       211   4972
Bowl                                        472         4   4972
Burrito                                    1550         6   4972
Canned Soda                               76396       126   4972
Canned Soft Drink                        304753       351   4972
Carnitas Bowl                             62742        71   4972
Carnitas Burrito                          51652        60   4972
Carnitas Crispy Tacos                      5868         8   4972
Carnitas Salad                             1500         1   4972
Carnitas Salad Bowl                        6693         6   4972
Carnitas Soft Tacos                       37673        40   4972
Chicken Bowl                             713926       761   4972
Chicken Burrito                          497303       591   4972
Chicken Crispy Tacos                      47382        50   4972
Chicken Salad                             10465         9   4972
Chicken Salad Bowl                       117104       123   4972
Chicken Soft Tacos                        98395       120   4972
Chips                                    208004       230   4972
Chips and Fresh Tomato Salsa             100419       130   4972
Chips and Guacamole                      449959       506   4972
Chips and Mild Fresh Tomato Salsa           279         1   4972
Chips and Roasted Chili Corn Salsa        14999        23   4972
Chips and Roasted Chili-Corn Salsa        17462        18   4972
Chips and Tomatillo Green Chili Salsa     41170        45   4972
Chips and Tomatillo Red Chili Salsa       45556        50   4972
Chips and Tomatillo-Green Chili Salsa     21826        33   4972
Chips and Tomatillo-Red Chili Salsa       18344        25   4972
Crispy Tacos                                434         2   4972
Izze                                      10587        20   4972
Nantucket Nectar                          21814        29   4972
Salad                                      1150         2   4972
Side of Chips                             84769       110   4972
Steak Bowl                               193752       221   4972
Steak Burrito                            328437       386   4972
Steak Crispy Tacos                        35818        36   4972
Steak Salad                                2362         4   4972
Steak Salad Bowl                          29590        31   4972
Steak Soft Tacos                          50177        56   4972
Veggie Bowl                               72270        87   4972
Veggie Burrito                            80962        97   4972
Veggie Crispy Tacos                         668         1   4972
Veggie Salad                               7265         6   4972
Veggie Salad Bowl                         17303        18   4972
Veggie Soft Tacos                          5520         8   4972

In [20]:
chipo_13 = chipo.head(4)
chipo_13

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39

### Step 13. Turn the item price into a float

In [86]:
chipo_13.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [21]:
chipo_13['item_price'] = chipo_13['item_price'].str.replace('$', '')

In [22]:
chipo_13['item_price'] = chipo_13['item_price'].astype(float)

In [23]:
chipo_13['item_price']

0    2.39
1    3.39
2    3.39
3    2.39
Name: item_price, dtype: float64

#### Step 13.a. Check the item price type

In [106]:
chipo_13.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [3]:
chipo_14 = chipo_13
chipo_14

NameError: name 'chipo_13' is not defined

In [2]:
chipo_14.Revenue.sum()

NameError: name 'chipo_14' is not defined

In [127]:
chipo_14['Revenue']=chipo_14.quantity * chipo_14.item_price
chipo_14.groupby('').agg({revenue:sum, item_price:count})

          quantity  item_price  Revenue
order_id
1                4       11.56    11.56

In [136]:
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price,Revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39

### Step 15. How many orders were made in the period?

In [141]:
chipo['order_id'].max()

1834

### Step 16. What is the average revenue amount per order?

In [142]:
# Solution 1

chipo_14['Revenue'].mean()

2.89

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

50

In [148]:
lista_items = chipo['item_name'] 
lista_items.dtype
lista_items

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [151]:
count = []
for elem in lista_items:
    if elem not in count:
        count.append(elem)
len(count)

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']